<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--title of the page-->
    <title>Britt Wrote This</title>
    <!--Links to main.css for a style sheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>
</head>
<body class="home-color">
<center><img src="{{ url_for('static', filename='pictures/brittwrotethis.jpeg') }}" alt="Home page picture"></center>

<!--links to the other 2 pages-->
<br><br>
<center><h4><a href="{{ url_for('login') }}" class="homepage">LOGIN</a></h4></center>
<center><h4><a href="{{ url_for('register') }}" class="homepage">REGISTER</a></h4></center>
<div class="fixed">{{ date_time }}</div>

</body>

</html>