<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Britt Wrote This</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"/>
</head>
<body class="pages-color">
<a href="{{ url_for('index') }}" class="britt_link"><h1 id="top">britt wrote this</h1></a>
<br><br>
<center>
<h3>Create an account</h3>
<form method="post">
<table>
<tr>
<td><label for="first name">First Name</label></td>
<td><input name="first name" id="first name"></td>
</tr>
<tr>
<td><label for="last name">Last Name</label></td>
<td><input name="last name" id="last name"></td>
</tr>
    <tr>
<td><label for="address">Email</label></td>
<td><input name="address" type="email" id="address"></td>
</tr>
<tr>
<td><label for="username">Username</label></td>
<td><input name="username" id="username"></td>
</tr>
<tr>
<td><label for="password">Password</label></td>
<td> <input type="password" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*]).{12,}"title="Must contain at least one number, one special character, one uppercase and lowercase letter, and at least 12 or more characters"></td>
</tr>
<tr>
<td colspan='1'><input type="submit" value="Register"></td>
    <td><input type="reset" value="Clear Form"></td>
</tr>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
</table>
</form>
    {% extends "app_flashes.html" %}
{% block body %}
{% endblock %}
</center>
</body>
</html>